{% extends 'base.html' %}
{% block content %}
    <div>
        태그
        {% for tag in tags %}
            <a href="{% url 'tags:read' id=tag.id %}">{{ tag.content }}</a>
        {% endfor %}
        {% if user.is_authenticated %}
            <form action="{% url 'tags:create' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="content"/>
                <button type="submit">태그 추가</button>
            </form>
        {% endif %}
    </div>
    <h1>POSTS</h1>
    {% comment %} <a href="/posts/new/">new post</a> {% endcomment %}
    {% if user.is_authenticated %}
        <a href="{% url 'blogPosts:new' %}">new post</a>
    {% endif %}

    {% for post in posts %}
        <div style="border: 1px solid grey;">
            <a href="/posts/{{ post.id }}/">
                <h3>{{ post.title }}</h3>
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'blogPosts:like' id=post.id %}">
                    {{ post.like_users.count }} Likes
                </a>
            {% endif %}
        </div>
    {% endfor %}

    
{% endblock content %}